<div class="PanelInputID">
  <label id="InputID" class="ui large header">
    {{ $t('ID List')}} 
  </label>

  <div class="ui top attached buttons">
    <a href="https://gdoc.pub/doc/e/2PACX-1vRyHuAWk20v-ptYXMrm6Zd-buBccZfpfCVbMXCkimn3h_UJF6nH1bkfjqUHE_AResIWdgwkMPKh3uYw" target="_blank"
      class="ui button">
      <i class="question circle icon"></i>
      {{ $t('How to list file names?') }}
    </a>
    <button type="button" @click="sortIdList" class="ui button">
      <i class="sort numeric down icon"></i>
      {{ $t('Sort') }}
    </button>
    <button type="button" @click="copy" class="ui button">
      <i class="copy icon"></i>
      {{ $t('Copy') }}
    </button>
  </div>
  <textarea id="InputID" v-model="db.localConfig.idList"></textarea>
</div>