<div class="Index"
  v-show="db.config.inited">

  <PanelTitle 
    ref="PanelTitle"
    :db="db">
  </PanelTitle>
  
  <div class="ui form">
    <PanelInputRanges 
      ref="PanelInputRanges"
      :db="db">
    </PanelInputRanges>

    <div class="ui grid">
      <div class="equal width row">
        <div class="column">
          <PanelInputID 
            ref="PanelInputID"
            :db="db">
          </PanelInputID>
        </div>
        <div class="column">
          <PanelOutputMessage 
            ref="PanelOutputMessage"
            :db="db">
          </PanelOutputMessage>
        </div>
      </div>
    </div>
  </div>

  <PanelAuthor 
    ref="PanelAuthor"
    :db="db">
  </PanelAuthor>
  
</div>