<div class="PanelAuthor">
  Pulipuli Chen@2024
  |
  <a href="https://github.com/pulipulichen/PWD-Consecutive-Numbers-Checker" target="github">
    GitHub
  </a>
  |
  <a href="https://pulipulichen.github.io/PWD-Consecutive-Numbers-Checker/" target="github">
    Online Tool
  </a>
  |
  <a href="https://blog.pulipuli.info/" target="blog">
    Blog 布丁布丁吃什麼？
  </a>
  |
  <a href="https://blog.pulipuli.info/p/donation.html" target="donate">
    Donate
  </a>
  |
  <a href="#" @click.stop="resetLocalConfig">
    Reset
  </a>
  |
</div>